<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="mycontainer">
        <div class="content">
            <div class="header">
                <h5 class="title">Upload Resume</h5>
            </div>
            <form enctype="multipart/form-data">
                <div class="body">
                    <div class = "my-3">
                        <div id="filename" *ngIf="resumeFile!=undefined">{{resumeFile["name"]}}</div>
                        <button class="btn btn-upload" (click)="resumefile.click()">Upload your file here</button>
                        <input hidden type="file" name="resume" #resumefile id="resume" (change)="fileChanged($event)">
                    </div>

                    <div *ngIf="loader" class="spinner-border" role="status">
                    </div>
                </div>
                <div class="footer">
                    <input id="submitbtn" (click)="uploadResume()" class="btn btn-primary" type="submit" value="Submit"
                        disabled>
                </div>
            </form>
        </div>
    </div>
</body>

</html>